#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

input, label {
  display: block;
}

input {
  padding: 10px;
}

input:focus {
  outline: none;
}

.input-error {
  border-color: red;
}